$primaryColor: rgb(35, 191, 157);
$secondaryColor: rgb(8, 50, 155);

body {
  // background-color: $secondaryColor;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.5vw;
}

img {
  height: 4vw;
}

.icon-color-0 {
  filter: invert(100%);
}

.icon-color-1 {
  filter: invert(50%);
}

.icon-color-2 {
  filter: invert(0%);
}

.tiles-container {
  display: grid;
  grid-template: auto / repeat(4, 1fr);
  // border: 1px solid black;
  width: 60vw;
  height: 45vw;
}

.tile {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  margin: 0.6vw;
  background-color: $primaryColor;
  border-radius: 10%;
}

.selected {
  // background-color: darken($primaryColor, 5%);
  box-shadow: 0 0 2vw darken($primaryColor, 30%);
  font-size: 1.8vw;
}
