.tiles-container {
  display: grid;
  grid-template: auto / repeat(4, 1fr);
  border: 1px solid black;
  width: 40vw;
  height: 30vw;
}

.tile {
  display: flex;
  margin: 0.5vw;
  align-items: center;
  justify-content: center;
  font-size: 4vw;
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: khaki;
}
