$primaryColor: rgb(35, 191, 157);
$secondaryColor: rgb(8, 50, 155);

body {
  // background-color: $secondaryColor;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 2vw;
}

.tiles-container {
  display: grid;
  grid-template: auto / repeat(4, 1fr);
  // border: 1px solid black;
  width: 80vw;
  height: 60vw;
}

.tile {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  margin: 1vw;
  background-color: $primaryColor;
  border-radius: 10%;
}

.selected {
  // background-color: darken($primaryColor, 5%);
  box-shadow: 0 0 3vw darken($primaryColor, 30%);
  font-size: 2.1vw;
}
