$lightColor: rgb(228, 240, 255);
$darkColor: rgb(56, 85, 164);

html {
  font-family: 'Concert One';
  font-size: 24px;
  color: $lightColor;
  text-shadow: 0 0 2rem black, 0 0 0.2rem $darkColor;
  height: 100%;
  background-image: linear-gradient($darkColor, $lightColor),
    url('https://cdn.pixabay.com/photo/2014/03/04/19/51/dark-279694_1280.png');
  background-blend-mode: lighten;
}

body {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  h1 {
    font-size: 3rem;
    margin: 1rem;
    text-align: center;
  }
}

footer {
  text-align: center;
  margin: 1rem;
  // font-family: arial, Helvetica, sans-serif;
  .marselena {
    font-size: 0.6rem;
  }
  .other {
    font-size: 0.4rem;
  }
  p {
    margin: 0.2rem;
  }
  a {
    color: inherit;
  }
}

.game-board {
  h2 {
    font-size: 2rem;
  }
  display: flex;
  flex-direction: column;
  align-items: center;
}

button {
  margin: 1rem;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  border: none;
  font-family: inherit;
  font-size: 1rem;
  background-color: $lightColor;
  color: $darkColor;
  &:hover {
    box-shadow: 0 0 1rem $darkColor;
    background-color: $darkColor;
    color: $lightColor;
  }
}

img {
  height: 7vw;
}

.icon-color-0 {
  filter: invert(27%) sepia(93%) saturate(7493%) hue-rotate(327deg)
    brightness(99%) contrast(109%);
}

.icon-color-1 {
  filter: invert(39%) sepia(87%) saturate(1164%) hue-rotate(201deg)
    brightness(100%) contrast(104%);
}

.icon-color-2 {
  filter: invert(86%) sepia(23%) saturate(6168%) hue-rotate(351deg)
    brightness(103%) contrast(101%);
}

.tiles-container {
  display: grid;
  grid-template: auto / repeat(4, 1fr);
  width: 95vw;
  height: 45vw;
  gap: 2vw 2vw;
}

.tile {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $lightColor;
  border-radius: 1rem;
  box-shadow: 0.2rem 0.2rem 0.5rem 0.1rem $darkColor;
}

.selected {
  filter: brightness(70%);
}
